<footer class="bg-[#003087] border-t-4 border-black shadow-[4px_4px_0_0_black] py-6 text-center text-white mt-10">
    <p class="font-extrabold">
        © <span id="year"></span> Kennresearch | All rights reserved.
    </p>
</footer>

<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>
